@model IEnumerable<PSN2018.Models.Relatorio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.intReuniaoID_FK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intRelatorioID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strDsc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.intReuniaoID_FK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intRelatorioID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strDsc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
