@model PSN2018.Models.Projeto

@{
    ViewBag.Title = "Editar Projeto";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Projeto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.strDsc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strDsc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strDsc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strObjetivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strObjetivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strObjetivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.intClienteID_FK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.intClienteID_FK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.intClienteID_FK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.intGPID_FK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.intGPID_FK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.intGPID_FK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dteCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dteCriacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dteCriacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.decPercProj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.decPercProj, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.decPercProj, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
                <a href="@Url.Action("Create", "UploadFileResults")" class="btn btn-sm btn-info"><span>Add Arquivos</span></a>
                <a href="@Url.Action("Create", "Atividades")" class="btn btn-sm btn-info"><span>Add Atividades</span></a>
                <a href="@Url.Action("Create", "Requisitoes")" class="btn btn-sm btn-info"><span>Add Requisitos</span></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar aos Projetos", "Index", null, new { @class = "btn btn-primary" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
