@model PSN2018.Models.UploadFileResult

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutGentella.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UploadFileResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caminho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caminho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intProjetoID_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intProjetoID_FK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
