@model PSN2018.Models.Funcionario


@{
    ViewBag.Title = "Novo Funcionário";
}

<h2>Novo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

  

    <div class="form-horizontal">
        <h4>Funcionário</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.strCPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strCPF, new { htmlAttributes = new { @class = "form-control", @placeholder = "000.000.000-00", @id = "txtCpf" } })
                @Html.ValidationMessageFor(model => model.strCPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strNome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strNome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strNome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.intAtividades, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.intAtividades, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.intAtividades, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.intFuncaoID_FK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.intFuncaoID_FK,
                                new SelectList(ViewBag.Funcoes, "id", "strDsc"),
                                "Selecione a Função",
                                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.intFuncaoID_FK, "", new { @class = "text-danger" })

                @*@Html.EditorFor(model => model.intFuncaoID_FK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.intFuncaoID_FK, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Lista Skill", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8 col-sm-8 col-xs-12">
                @*@Html.EditorFor(model => model.intClienteID_FK, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Lista Skill",
                                     new SelectList(ViewBag.Skill, "id", "strDsc"),
                                     "Selecione uma Skill",
                                     new { @class = "form-control", @Name = "Lista_Skill" })
                @Html.ValidationMessage("Lista Skill", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Nome Skill", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.Editor("Nome Skill", new { htmlAttributes = new { @class = "form-control", @Name = "Nome_Skill" } })
                @Html.ValidationMessage("Nome Skill", "", new { @class = "text-danger" })
            </div>
            @Html.Label("Nivel", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.Editor("Nivel", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Nivel", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="BtnAdd" value="Adicionar" class="btn btn-info" />
                <input type="submit" name="BtnRem" value="Deletar" class="btn btn-danger" />
            </div>
        </div>

        <div class="center">
            <div class="col-md-offset-2 col-md-10">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">id</th>
                                <th class="column-title">Skill</th>
                                <th class="column-title">Nivel</th>
                                <th class="column-title">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PSN2018.Models.FuncSkill item in ViewBag.FuncSkill)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@item.id</td>
                                    <td class=" ">@item.strskill</td>
                                    <td class=" ">@item.decPerc<i class="success fa fa-long-arrow-up"></i></td>
                                    <td class=" ">
                                        <label><input type="checkbox" name="fskill" value="@item.id" />Remover Skill</label>
                                    @*@Html.ActionLink("Delete", "Remover", new { skillFunc = item.id, CPF = Model.strCPF, Nome = Model.strNome, Quant = Model.intAtividades, Funcao = Model.intFuncaoID_FK }, new { @class = "fa fa-trash" })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*@{Html.RenderPartial("FuncSkill","Funcionarios");}*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Lista de Funcionários", "Index", null, new { @class = "btn btn-primary" })
</div>


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function ()
        {
            $("#txtCpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#Nivel").inputmask("mask", { "mask": "99,99" }, { reverse: true });
    });
    </script>
}