@model PSN2018.Models.GerenteProjeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GerenteProjeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
